<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <title>STUDENT ENROLLMENT SYSTEM</title>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">STUDENT ENROLLMENT SYSTEM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enrollment">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enrollment">My Program</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <span th:text="${currentUser != null ? currentUser.firstname + ' ' + currentUser.lastname : ''}" class="me-3" style="color: white;"></span>
            <form th:if="${#authorization.expression('isAuthenticated()')}" method="post" th:action="@{/logout}" class="nav-link" style="display: inline-block; padding: 0;">
              <input type="submit" value="Logout" class="btn btn-link" style="padding: 0; color: red;">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container col-md-10">
  <h3>My Programs</h3>
  <hr>

  <p>Name: <span th:text="${currentUser.firstname + ' ' + currentUser.lastname}"></span></p>
  <p>Address: <span th:text="${currentUser.address + ', ' + currentUser.city + ' ' + currentUser.postalCode}"></span></p>
  <hr>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Program</th>
      <th scope="col">Start Date</th>
      <th scope="col">Duration</th>
      <th scope="col">Status</th>
      <th scope="col">Receipt No</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="studentProgram : ${studentPrograms}">
      <td th:text="${studentProgram.programName}"></td>
      <td th:text="${studentProgram.startDate}"></td>
      <td th:text="${studentProgram.duration}"></td>
      <td th:text="${studentProgram.status}"></td>
      <td th:text="${studentProgram.receiptNo}"></td>
    </tr>

    </tbody>
  </table>
</div>

</body>
</html>